.conteiner-botao {
  width: 300px;
  margin: 80px auto;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

h2{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.incrementar {
  background-color: rgb(250, 174, 187);
  font-family: 'Courier New', Courier, monospace;
}

.incrementar:hover {
  background-color: rgb(225, 149, 162);
}

.descrementar {
  background-color: rgb(255, 153, 170);
  font-family: 'Courier New', Courier, monospace;
}

.descrementar:hover {
  background-color: rgb(211, 120, 135);
}

.limpar {
  background-color: gray;
  font-family: 'Courier New', Courier, monospace;
}

.limpar:hover {
  background-color: black;
}