.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 56px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 120, 179);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}